 .info-title {
  margin: 10px 0 10px 0 !important;
 }
 
 .info-body {
  padding: 0 20px 0 45px;
  margin: 5px 0 5px 0;
  font-weight: 400 !important;
 }

 .info-header-icon {
   padding-right: 10px;
 }

 .information-info {
   display: flex;
   padding-right: 40px;
 }

 .information-header {
   font-weight: 600;
   padding-bottom: 5px;
 }

 .information-detail {
   margin-left: 50px;
 }

.skills-info {
  display: flex;
  flex-direction: column;
}

 .skills-language {

 }
